<%- include ('./partials/_header.ejs') %>
<form action="/register_gestion" class="formulario" method="post">
    <h2>Registrar</h2>
    <input id="names" name="names" class="form-control" type="text" placeholder="Nombres" >
    <input id="appat" name="appat" class="form-control" type="text" placeholder="Apellido Paterno">
    <input id="apmat" name="apmat" class="form-control" type="text" placeholder="Apellido Materno">
    <select name="Area" id="Area">
        <option value="Becas">Becas</option>
        <option value="Inscripciones">Inscripciones</option>
        <option value="Tutorias">Tutorias</option>
    </select>
    <input id="pass" name="pass" class="form-control" type="password" placeholder="Contraseña">
    <input id="codigo_de_verificacion" name="codigo_de_verificacion" class="form-control" type="text" placeholder="codigo_de_verificacion">
    <button type="submit">Registrate</button>
    <a href="/login_gestion">Ya tengo una cuenta</a>
</form>
<%- include ('./partials/_footer.ejs') %>